.main-sidebar-container {
  height: 100vh;
  .main-sidebar {
    width: 240px;
    max-width: 240px;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.35)
  }
}

.ma-sidebar-toolbar {
  background-color: #fff;
}

.ma-main-toolbar {
  background-color: #EF5350;
  color: #fff;
  button {
    margin-right: 10px;
  }
}

.grid {
  padding: 10px;
}

.content {
}
